@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

.inner::before, .find-country-inner .find-block::before, .solicitor-login-inner .solicitor-login-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > *, .find-country-inner .find-block > *, .solicitor-login-inner .solicitor-login-wrap > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #f6f8f8; }

.blue-bg {
  background: #30436b; }

.orange-text {
  color: #ef6223; }

.orange-bg {
  background: #ef6223; }

.sub {
  font-size: 12px;
  color: inherit; }

.conteiner {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin: 0 -10px;
  overflow: hidden; }

.icon {
  display: inline-block; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #7e878d;
  font-size: 16px; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-weight: 600;
  background: #ef6223;
  padding: 0 27px;
  font-size: 16px;
  text-transform: uppercase; }
  .form-btn:hover {
    background: #d0551e; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    padding-right: 47px; }
    input[type="checkbox"] + label:before {
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background: #fff;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      margin-right: 14px;
      vertical-align: middle; }
  input[type="checkbox"]:checked + label::before {
    background: #fff url("../img/checbox-checked-bg.png") no-repeat center center; }

.simple-text-block {
  padding: 27px 0;
  font-size: 18px;
  color: #5a6464;
  border-bottom: 1px solid #e4ebec; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  text-align: center;
  padding: 0 25px; }
  .btn.white-btn {
    border-color: #fff;
    color: #fff; }
    .btn.white-btn:hover {
      background: #fff;
      color: #30436b; }
  .btn.orange-btn {
    border-color: #ef6223;
    color: #ef6223; }
    .btn.orange-btn:hover {
      background: #ef6223;
      color: #fff; }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 14px; }
  .header .header-nav {
    float: right;
    margin-top: 26px; }
    .header .header-nav li {
      display: inline-block;
      margin-right: 40px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #ef6223; }
  .header .search-ic-form {
    display: none;
    position: absolute;
    top: 58px;
    right: 190px;
    width: 340px;
    height: 125px;
    background: rgba(0, 0, 0, 0.45);
    padding: 10px; }
    .header .search-ic-form label {
      color: #fff;
      font-size: 16px;
      cursor: pointer; }
    .header .search-ic-form input[type="text"] {
      margin: 10px 10px 10px 0; }
    .header .search-ic-form input[type="submit"] {
      font-size: 12px;
      width: 80px;
      height: 35px;
      padding: 5px; }

.footer {
  text-align: center; }
  .footer ul {
    margin-bottom: 34px; }
    .footer ul li {
      display: inline-block;
      padding: 0 12px; }
      .footer ul li a {
        font-size: 12px;
        color: #515a60;
        font-weight: 600; }
        .footer ul li a:hover {
          color: #ef6223; }
  .footer span {
    display: inline-block;
    margin-top: 28px;
    font-size: 14px;
    color: #7d858b; }

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -97px;
  width: 29px;
  height: 30px; }

.apartmen-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 35px;
  height: 35px; }

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 35px;
  height: 34px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -62px 0px;
  width: 35px;
  height: 35px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -34px;
  width: 35px;
  height: 34px; }

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -62px;
  width: 27px;
  height: 35px; }

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -97px;
  width: 35px;
  height: 33px; }

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -62px;
  width: 35px;
  height: 35px; }

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -97px;
  width: 35px;
  height: 34px; }

.serch-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -68px;
  width: 19px;
  height: 19px; }

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-weight: 700;
      font-size: 72px;
      margin-bottom: 26px; }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300; }
    .inner .inner-block .inner-form {
      width: 860px;
      margin-top: 40px;
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45);
      text-align: left; }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }
      .inner .inner-block .inner-form .more-option-btn {
        cursor: pointer;
        display: inline-block;
        margin: 10px 0 15px 0; }
      .inner .inner-block .inner-form .more-option-form {
        display: none; }
    .inner .inner-block .input-group {
      margin-bottom: 13px;
      display: inline-block; }
      .inner .inner-block .input-group label {
        font-size: 16px;
        cursor: pointer; }
    .inner .inner-block .form-text label {
      display: block; }
    .inner .inner-block .input-group-select {
      float: left;
      margin-right: 6px; }
    .inner .inner-block .input-checkbox {
      clear: both; }

.service-wrap {
  padding: 55px 0 70px 0; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
    height: 182px; }
    .service-wrap .service-item span.icon {
      margin-bottom: 10px; }
    .service-wrap .service-item .title {
      color: #ef6223;
      font-size: 20px; }
    .service-wrap .service-item p {
      width: 63%;
      margin-top: 10px;
      font-size: 16px;
      color: #6c767e; }

.category-wrap {
  overflow: hidden; }
  .category-wrap > .conteiner > .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 40px 0; }
  .category-wrap .news-post {
    width: 33.333%;
    float: left;
    padding: 0 10px; }
  .category-wrap .news-content {
    background: #fff;
    border-top: 6px solid #98bed5;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    padding: 19px; }
    .category-wrap .news-content .title {
      color: #515a60;
      font-size: 20px;
      font-weight: 600; }
    .category-wrap .news-content p {
      color: #6c767e;
      font-size: 16px;
      margin-top: 15px;
      line-height: 1.5; }
    .category-wrap .news-content a {
      font-weight: 600;
      color: #515a60; }

.category-btn {
  text-align: center;
  margin: 40px 0 75px 0; }
  .category-btn .btn {
    margin: 0 12px; }

.carousel-wrap {
  margin-bottom: 73px; }
  .carousel-wrap .title {
    font-weight: 600;
    font-size: 24px;
    color: #515a60;
    margin-bottom: 20px; }
    .carousel-wrap .title .sub {
      font-size: 24px; }
  .carousel-wrap .law-slick-block {
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #e2e6e7;
    border-bottom: 1px solid #e2e6e7; }
    .carousel-wrap .law-slick-block a {
      color: #ef6223;
      font-size: 16px;
      font-weight: 600; }
      .carousel-wrap .law-slick-block a:hover {
        color: #515a60; }
  .carousel-wrap .slick-arrow {
    position: absolute;
    background: transparent;
    border: none;
    color: transparent;
    height: 24px;
    width: 15px; }
  .carousel-wrap .slick-prev {
    left: -60px;
    top: 10px; }
  .carousel-wrap .slick-next {
    right: -60px;
    top: 10px; }
  .carousel-wrap .slick-arrow::before, .carousel-wrap .slick-arrow::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 3px;
    background: #ef6223;
    position: absolute; }
  .carousel-wrap .slick-prev::before {
    top: 15px;
    left: -1px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .carousel-wrap .slick-prev::after {
    bottom: 16px;
    right: 0px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .carousel-wrap .slick-next::before {
    top: 13px;
    left: -1px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .carousel-wrap .slick-next::after {
    bottom: 18px;
    right: 0px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.country-inner {
  text-align: center;
  margin: 55px 0 66px 0; }
  .country-inner .title {
    font-size: 38px;
    color: #515a60;
    font-weight: 600; }
  .country-inner .country-btn {
    margin-top: 63px; }
    .country-inner .country-btn .btn {
      margin: 12px;
      font-weight: 600; }

.find-country-inner .find-block {
  color: #fff;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  height: 103px; }
  .find-country-inner .find-block .find-block-wrap {
    width: 100%;
    overflow: hidden; }
    .find-country-inner .find-block .find-block-wrap .find-text {
      float: left;
      padding: 20px 0 20px 0;
      font-size: 30px;
      font-weight: 600; }
      .find-country-inner .find-block .find-block-wrap .find-text .icon {
        margin: 0 20px;
        vertical-align: middle; }
    .find-country-inner .find-block .find-block-wrap .find-country {
      float: right; }
      .find-country-inner .find-block .find-block-wrap .find-country a {
        display: inline-block;
        border-left: 1px solid #a54619;
        padding: 29px;
        line-height: 1.2;
        text-align: center;
        color: #fff;
        font-size: 24px; }
        .find-country-inner .find-block .find-block-wrap .find-country a:hover {
          color: #a54619; }
      .find-country-inner .find-block .find-block-wrap .find-country .country-solicitors-text {
        display: block;
        font-size: 14px;
        color: #a54619; }

.solicitor-login-inner {
  margin: 76px 0 40px 0; }
  .solicitor-login-inner .solicitor-login-wrap {
    height: 160px; }
    .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block {
      width: 100%; }
      .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block .solicitor-login-text {
        width: 512px;
        float: left; }
        .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block .solicitor-login-text .title {
          font-size: 32px;
          font-weight: 600;
          color: #fff; }
        .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block .solicitor-login-text p {
          color: #fff;
          font-size: 16px;
          margin-top: 15px; }
      .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block .login-btn {
        float: right;
        padding-top: 15px; }
        .solicitor-login-inner .solicitor-login-wrap .solicitor-login-block .login-btn .btn {
          font-size: 16px;
          margin: 12px; }
